%h1 Welcome to my OP blog

= link_to 'Important', posts_path(:important => 'true')
= link_to 'Not Important', posts_path(:important => 'false')
= link_to 'All', posts_path

%table.styled

  - @posts.each do |post|
    %tr
      %td= link_to post.title, post_path(post)
      %td{style: (post.important? ? 'color: red ' : nil)}= post.content
      %td= post.important?
      %td= link_to "Update", edit_post_path(post)
      %td= link_to "Delete", post, :confirm => "Are you sure", :method => :delete
%hr
= link_to "New", new_post_path
%br/
= link_to "Products", post_products_path(:post_id)

