%h1= @resource.title
%p= @resource.content
%br/
%br/
= @resource.created_at
%br/
%hr
%h2 Comments :
%br/
- @resource.comments.each do |comment|
  = comment.commenter
  = comment.body
  = link_to 'Destroy Comment', [comment.post, comment],
   :confirm => 'Are you sure Ginette',
   :method => :delete
  %br/


%h3 "Add a Comment"
= render 'comments/form'

%hr
= link_to "Edit", edit_post_path(@resource)
%hr
= link_to "back", posts_path
